<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>MiageBook</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign up</h2>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <label for="inputEmail" class="sr-only">pseudi</label>
        <input type="email" id="inputPseudo" class="form-control" placeholder="Pseudo" required >

        <label for="inputEmail" class="sr-only">Password</label>
        <input type="email" id="Password" class="form-control" placeholder="Password" required >

        <label for="inputEmail" class="sr-only">Name</label>
        <input type="email" id="Name" class="form-control" placeholder="name" required >

        <label for="inputEmail" class="sr-only">Surname</label>
        <input type="email" id="Surname" class="form-control" placeholder="Surname" required >



        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>

</div> <!-- /container -->

</body>
</html>
